* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

.contenedor-nav {
  position: fixed;
  width: 100%;
}

.navegador {
  background-color: black;
  height: 100px;
  position: fixed;
  width: 100%;
}
.navegador ul {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 1.6em;
  list-style: none;
}
.navegador li {
  padding-left: 1em;
}
.navegador li a {
  color: white;
  text-decoration: none;
}
.navegador li {
  padding-bottom: 1px;
}
.navegador li a:hover {
  color: #3895ea;
  text-decoration: underline;
  list-style: none;
}

.contenedor-texto {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.1)
    ),
    url(../assets/img/otherside.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto {
  text-align: center;
  color: white;
  border: 1px solid white;
  width: 22%;
  height: 22%;
  background-color: rgba(255, 255, 255, 0.295);
  padding-top: 5em;
  text-shadow: 1px 2px 0 black;
  border-radius: 10px;
}

.aboutMe {
  text-align: center;
  background-color: white;
}

.sectionAboutMe {
  width: 50%;
  padding: 5em 10em 12em;
  margin: 0 25%;
}
.sectionAboutMe h2 {
  color: #3895ea;
  padding: 1em;
  font-size: 4em;
  font-weight: 400;
  margin-bottom: 0.5em;
  text-align: center;
  line-height: 1em;
}
.sectionAboutMe p {
  font-size: 1.5em;
}

.projects {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: rgba(202, 202, 202, 0.616);
  padding-top: 3em;
}
.projects .contenedor {
  width: 100%;
}
.projects .contenedor .titulo {
  color: #3895ea;
  padding: 1em;
  font-size: 4em;
  font-weight: 400;
  margin-bottom: 0.5em;
  text-align: center;
  line-height: 1em;
}
.projects .contenedor .contenedor-trabajos {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 10%;
  flex-wrap: wrap;
}
.projects .contenedor .contenedor-trabajos .trabajo {
  margin: 3em;
  padding: 2em;
}
.projects .contenedor .contenedor-trabajos .trabajo .thumb img {
  border-radius: 1em;
  height: 22em;
  padding: 0.2em;
  box-shadow: 0.5px 0.5px 2px black;
}
.projects .contenedor .contenedor-trabajos .trabajo .descripcion {
  font-size: 1.5em;
  margin-top: 1em;
  font-weight: 600;
  color: #3895ea;
  text-shadow: 1px 1px black;
}

.contact {
  padding: 3em 0 6em;
  display: flex;
  justify-content: center;
  background-color: rgba(202, 202, 202, 0.616);
}
.contact .contenedor {
  width: 42%;
}
.contact .titulo {
  color: #3895ea;
  padding: 1em;
  font-size: 4em;
  font-weight: 400;
  margin-bottom: 0.5em;
  text-align: center;
  line-height: 1em;
}
.contact .formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact .formulario input[type="text"],
.contact .formulario input[type="email"],
.contact .formulario textarea {
  border: 2px solid #cecece;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 20px;
  color: #a4a4a4;
}
.contact .formulario input[type="text"]:focus,
.contact .formulario input[type="email"]:focus,
.contact .formulario textarea:focus {
  border: 2px solid #3895ea;
}
.contact .formulario input[type="text"],
.contact .formulario input[type="email"] {
  width: 49%;
  margin-bottom: 2em;
}
.contact .formulario textarea {
  width: 100%;
  height: 100px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 300px;
  margin-bottom: 2em;
}
.contact .formulario .boton {
  margin: auto;
  background: #3895ea;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 15px 40px;
  cursor: pointer;
}
.contact .formulario .boton:hover {
  background: #387bea;
}

.programas {
  padding-top: 3em;
}
.programas .titulo {
  color: #3895ea;
  padding: 1em;
  font-size: 4em;
  font-weight: 400;
  margin-bottom: 0.5em;
  text-align: center;
  line-height: 1em;
}
.programas .lenguage {
  flex-wrap: wrap;
  display: flex;
  width: 80%;
  margin: 5% 10%;
  justify-content: center;
}
.programas .lenguage .tecnologia1,
.programas .lenguage .tecnologia2,
.programas .lenguage .tecnologia3,
.programas .lenguage .tecnologia4,
.programas .lenguage .tecnologia5,
.programas .lenguage .tecnologia6,
.programas .lenguage .tecnologia7,
.programas .lenguage .tecnologia8,
.programas .lenguage .tecnologia9,
.programas .lenguage .tecnologia10,
.programas .lenguage .tecnologia11,
.programas .lenguage .tecnologia12,
.programas .lenguage .tecnologia13,
.programas .lenguage .tecnologia14,
.programas .lenguage .tecnologia15,
.programas .lenguage .tecnologia16 {
  display: flex;
  justify-content: center;
}
.programas .lenguage .tecnologia1 img,
.programas .lenguage .tecnologia2 img,
.programas .lenguage .tecnologia3 img,
.programas .lenguage .tecnologia4 img,
.programas .lenguage .tecnologia5 img,
.programas .lenguage .tecnologia6 img,
.programas .lenguage .tecnologia7 img,
.programas .lenguage .tecnologia8 img,
.programas .lenguage .tecnologia9 img,
.programas .lenguage .tecnologia10 img,
.programas .lenguage .tecnologia11 img,
.programas .lenguage .tecnologia12 img,
.programas .lenguage .tecnologia13 img,
.programas .lenguage .tecnologia14 img,
.programas .lenguage .tecnologia15 img,
.programas .lenguage .tecnologia16 img {
  width: 50%;
  box-shadow: 1px 1px 4px grey;
  margin-top: 2em;
  border-radius: 5%;
  opacity: 30%;
}
.programas .lenguage .tecnologia1 img:hover,
.programas .lenguage .tecnologia2 img:hover,
.programas .lenguage .tecnologia3 img:hover,
.programas .lenguage .tecnologia4 img:hover,
.programas .lenguage .tecnologia5 img:hover,
.programas .lenguage .tecnologia6 img:hover,
.programas .lenguage .tecnologia7 img:hover,
.programas .lenguage .tecnologia8 img:hover,
.programas .lenguage .tecnologia9 img:hover,
.programas .lenguage .tecnologia10 img:hover,
.programas .lenguage .tecnologia11 img:hover,
.programas .lenguage .tecnologia12 img:hover,
.programas .lenguage .tecnologia13 img:hover,
.programas .lenguage .tecnologia14 img:hover,
.programas .lenguage .tecnologia15 img:hover,
.programas .lenguage .tecnologia16 img:hover {
  transition: ease-in;
  opacity: 100%;
  transform: scale(1.3);
  transition-duration: 250ms;
}

footer {
  justify-content: center;
  text-align: center;
  background-color: black;
  color: white;
  padding: 2em;
}
footer .social {
  margin: 1em 0;
}
footer .social .contenedor a {
  padding: 0 1em;
}
footer .social .contenedor a i {
  font-size: 3em;
}

/*# sourceMappingURL=style.css.map */
