//asignamos colores a variables
$azul: rgb(0, 102, 255);
$azulPastel:#3895ea;
$rojo: rgb(253, 0, 0);
$negro: rgb(0, 0, 0);
$blanco: rgb(255, 255, 255);
$verde: rgb(62, 155, 8);
$verdeClaro: rgb(150, 201, 62);
$amarillo: rgb(251, 255, 0);
$naranja: rgb(255, 115, 0);
$violeta: rgb(89, 0, 255);
$gris:rgba(202, 202, 202, 0.616);
$grisOscuro: #a4a4a4;
$marron: rgb(117, 63, 1);
$blancoTransparente:  rgba(255, 255, 255, 0.295);