.contenedor-nav {
  position: fixed;
  width: 100%;
}

.navegador {
  background-color: $negro;
  height: 100px;
  position: fixed;
  width: 100%;
  ul {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 1.6em;
    list-style: none;
  }

  li {
    padding-left: 1em;
    a {
      color: $blanco;
      text-decoration: none;
    }
  }
  li {
    padding-bottom: 1px;
    a:hover {
      color: $azulPastel;
      text-decoration: underline;
      list-style: none;
    }
  }
}

