.contenedor-nav {
  position: fixed;
  width: 100%;
}


.navegador {
  background-color: $negro;
  position: fixed;
  width: 100%;
  ul {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    list-style: none;
    margin: 0;
  }
  ul:hover{
    color: $verdeLetra;
  }
  a{
    text-decoration: none;
    }
  a:hover {
    list-style: none;
    }
  .draw-border{
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    letter-spacing: 0.05rem;
    padding-bottom: 1px;
    box-shadow: none;
    color: $blanco;
    -webkit-transition: color 0.25s 0.0833333333s;
    transition: color 0.25s 0.0833333333s;
    position: relative;
    padding: 1em 1em;
  
    .btn:focus {
      outline: 2px dotted #55d7dc;
    }
  }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
  }
  .draw-border:hover {
    color: $violeta;
    box-shadow: inset 0 0 0 4px hidden;
  }
  .draw-border:hover::before, .draw-border:hover::after{
    border-color:$violeta;
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
  }
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
  }
  .draw-border:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
            transition-delay: 0s, 0s, 0.25s;
  }
  .draw-border:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
            transition-delay: 0s, 0.25s, 0s;
  }

}
