.background-image {
  .world {
    position: absolute;
    width: 42%;
    margin: 4em 0 0 45.5em;
  }
  .contenedor-texto {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.952),
      $violetaOscuro
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 1090px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3em 10em 0 0;

    .alien {
      width: 32%;
      position: relative;
      overflow: auto;
      margin-top: 29em;
    }
  }
  .texto {
    padding-bottom: 40em;
    .nombre {
      font-size: 4rem;
    }
    text-align: center;
    color: white;
  }
}
