.aboutMe {
  text-align: center;
  background-color: $blanco;

  .top-land {
    display: flex;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.952),
      $violetaOscuro
    );
    background-color: transparent;
    .land-right-hidden {
      width: 42%;
    }
    .land-area {
      width: 42%;
      .land {
        height: 13em;
        border-radius: 0% 113% 0 0;
        background-color: $blanco;
      }
    }
  }
  .sectionAboutMe {
    width: 50%;
    padding: 5em 10em 12em;
    margin: 0 25%;
    h2 {
      @include titulo;
    }
    p {
      font-size: 1.5em;
    }
  }
}
